* {
    margin: 0;
    padding: 0;
}

/* body {
    background-color: bisque;
} */

h1 {
    color: black;
    text-align: center;
    font-weight: 900;
    font-family: ui-serif;
    height: max-content;

}

img {
    height: 170px;
    width: 200px;
    border-radius: 50%;
}

h2 {
    font-family: 'Segoe UI';
}

p {
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
}

#portfolio {
    height: 100px;
    font-size: 60px;
    padding-top: 15px;
}

#navbar {
    background-color: #03034e;
    height: 60px;
}

button {
    color: #f08804;
    width: 70px;
    height: 25px;
    margin-top: 20px;
}

input {
    width: 150px;
    height: 25px;
    text-align: center;
}

a {
    color: aliceblue;
    margin-right: 200px;
    font-size: 25px;
}

#profile {
    color: #f08804;
}

.picture h2 {
    text-align: center;
}





.footer a {
    font-size: 50px;
    color: #594F3B;
    font-style: italic;
    margin-left: 30px;

}