* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;

}

h1 {
    color: black;
    text-align: center;
    font-weight: 900;
    font-family: ui-serif;
    height: max-content;

}

.picture img {
    height: 170px;
    width: 200px;
    border-radius: 50%;
}

h2 {
    font-family: 'Segoe UI';
}

p {
    text-align: center;
    text-transform: capitalize;
    line-height: 40px;
}

/* navbar section  --starts*/
#portfolio {
    height: 100px;
    font-size: 60px;
    padding-top: 15px;
    font-style: italic;
}

#navbar {
    background-color: #03034e;
    position: fixed;
    height: 60px;
}

button {
    color: #f08804;
    width: 70px;
    height: 25px;
    margin-top: 20px;
}

input {
    width: 150px;
    height: 25px;
    text-align: center;
}

a {
    color: aliceblue;
    margin-right: 200px;
    font-size: 25px;
    text-decoration: none;
}

/*  navbar section --end*/

#profile {
    color: #f08804;
    display: inline-block;
}

.picture h2 {
    text-align: center;
    margin-top: 0%;
}



/* home_page-footer part --starts */

.footer {
    position: fixed;
    bottom: 0;
}

.footer a {
    font-size: 50px;
    color: #594F3B;
    font-style: italic;
    margin-left: 30px;


}

/* ---------------------------------------------------- */
/* projects_page-style */
.navbar1-proj {
    margin: 0%;
    padding: 0%;
    height: 45px;
    background-color: hsl(207, 78%, 13%);
}

.nav-pic img {
    height: 40px;
    width: 140px;
    margin-left: 20px;
}