* {
    margin: 0%;
    padding: 0%;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 65px;
    background-color: black;
    /* background-color: #232f3e; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url("amazon-logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;

}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* **box-2** */

.add-first {
    font-size: 0.85rem;
    color: #ccc;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    color: #fff;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* **box3** */

.nav-search {
    display: flex;
    height: 60px;
    width: 620px;
    border-radius: 4px;
    font-family: inherit;
    align-items: center;
    margin-left: 20px;
    justify-content: space-evenly;
}

.search-select {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    height: 40px;
    width: 51px;
    text-align: center;
    border: none;

}

.search-input {
    height: 40px;
    width: 100%;
    /* padding: 7px 10px 10px 0px; */
    font-size: 1rem;
    padding-left: 10px;
    border: none;

}

.search-icon-button {
    height: 40px;
    width: 45px;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: 1.2rem;
}

/* **box 4** */
.nav-flag {
    height: 33px;
    width: 35.5px;
    /* background-color: aqua; */
    display: flex;
    justify-items: center;
    align-items: end;
    padding: 2px 2px 9px 5px;
}

.flag-icon {
    height: 16.2px;
    width: 21.6px;
    color: red;

}

.flag-name {
    height: 15px;
    width: 18px;
    font-size: 14px;
    color: white;
}

/* **box4 ***/
.nav-signin {
    color: #fff;
    margin-left: 10px;
}

.signin-first {
    font-size: 0.7rem;
    font-weight: 400;
}

.signin-second {
    font-size: 0.8rem;
    line-height: 15px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

/* box5 */
.nav-cart {
    color: #fff;
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-cart i {
    font-size: 1.5rem;
    color: #d6d6d6;
}

.nav-cart p {
    font-weight: 600;

}

/* **navbar2** */
.navbar2 {
    height: 40px;
    background-color: #232f3e;
    display: flex;
    color: #fff;
}

/* nav2 first part */
.nav2-menu {
    /* height: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    padding: 8px 9px;
    justify-content: space-evenly;
}

.nav2-menu i {
    width: 17px;
    height: 14px;
}

.nav2-menu p {
    font-size: 0.87rem;
    padding-left: 5px;
    font-weight: 600;
}

/* nav2-second part menu */

.nav2-xshop {
    width: 100%;
    display: inline;
    margin-top: 10px;
}



.nav2-a {

    width: 100px;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;

}

/* nav2 last part */
.nav2-last {
    width: 18px;
    height: 40px;
}

/* Hero-SECTION */
.hero-section {
    background-image: url("amazon.jpg");
    height: 300px;
    background-size: cover;
}



.shopping-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    /* margin-top: -200px; */
    margin-bottom: 10px;
    height: 400px;

}

.box {
    height: 400px;
    /* border: 2px solid black; */
    width: 32%;
    background-color: #fff;

}

.box-img {
    height: 300px;
    background-size: cover;
    margin: 20px;
}

.box1 h4 {
    margin: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.box1 p {
    margin: 10px;
    font-size: 0.8rem;
    color: rgb(0, 110, 255);
}

/* **footer** */
.footer-panel {
    height: 1000px;
    background-color: #182433;
}

.footer-panel1 {
    height: 50px;
    color: #fff;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-panel3 {
    height: 70px;
    /* background-position: bottom;
    margin-bottom: 0%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel3-content1 {

    color: white;
    border: 1px solid rgba(255, 255, 255, 0.957);
    border-radius: 4px;
    width: 116px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 0.8rem;
}

.panel3-content1 i {
    margin-right: 5px;
}