/* body {
    background-color: bisque;
} */

h1 {
    color: black;
    text-align: center;
    text-decoration: red underline;
    font-weight: 900;
    font-family: ui-serif;
    height: max-content;
}

img {
    border-radius: 50%;
}

h2 {
    font-family: 'Segoe UI';
}

p {
    text-align: center;
}