* {
    margin: 0%;
    padding: 0%;
    font-family: arial;
    border: border-box;
}

.navbar {
    height: 65px;
    background-color: #232f3e;
    display: flex;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon-logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/* **box-2** */

.add-first {
    font-size: 0.85rem;
    color: #ccc;
    margin-left: 15px;
}

.add-sec {
    font-size: 1rem;
    color: #fff;
}

.add-icon {
    display: flex;
    align-items: center;
}